<div class="flex flex-col h-screen">

  <div class="flex flex-row w-full h-full">
    <div [ngClass]="isShowNavBar? 'w-1/6': 'none'" class="">
      <button (click)="showNavBar()"> esconder</button>
      <div class="h-full">
        <app-navbar *ngIf="isShowNavBar" />
      </div>
    </div>
    <div [ngClass]="isShowNavBar? 'w-5/6': 'w-full'" class=" h-full flex flex-col">
      <div class="ps-1/6 h-12 w-full border-white">
        <app-header/>
      </div>
      <div class="h-full overflow-x-auto">
        <app-board/>
      </div>
    </div>
  </div>
</div>

