@if (itemMenu.subItems.length > 0) {

    <button class="px-2 mb-1 flex flex-row justify-between text-taskly-vermilion-600 hover:bg-taskly-woodsmoke-800">
        <div class="flex flex-row items-center p-0 m-0 gap-2">
            <span class="" [innerHTML]="safeIcon"></span>
            <p class="text-xs text-taskly-white">{{itemMenu.title}}</p>
        </div>
    </button>
    @for (board of itemMenu.subItems; track $index) {
        <a class="mb-1 ps-8 pe-2 line-clamp-1 text-xs hover:bg-taskly-woodsmoke-800"
        [routerLink]="[board._id]">
       {{board.title}}
    </a>
    }
}
@else {
    <a class="px-2 mb-1 flex flex-row justify-between text-taskly-vermilion-600 hover:bg-taskly-woodsmoke-800"
    [routerLink]="[itemMenu.url]">
    <div class="flex flex-row items-center p-0 m-0 gap-2">
        <span class="" [innerHTML]="safeIcon"></span>
        <p class="text-xs text-taskly-white">{{itemMenu.title}}</p>
    </div>
    @if(safeIconAction == null){
        <button class="btn-primary" [innerHTML]="safeIconAction"></button>
    }
</a>
}

