@tailwind base;
@tailwind components;
@tailwind utilities;


.title-100 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.title-200 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.title-300 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title-400 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-500 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.title-600 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.title-700 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.title-800 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text-100 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.text-200 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.text-300 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.text-400 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-500 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-600 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.text-700 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-800 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@layer base {
    body {@apply bg-taskly-background text-taskly-white};
    h1 {@apply text-2xl title-600 mb-1};
    h2 {@apply text-xl title-600 mb-1};
    h3 {@apply text-lg title-600 mb-1};
    h4 {@apply text-lg title-500 mb-1};
    h5 {@apply text-base title-500 mb-1 leading-4   };
    h6, p, span {@apply text-400 text-sm mb-1};
}

@layer components {
    .card-container { @apply rounded-[1rem] p-4 hover:border-taskly-vermilion-100 hover:border-opacity-40  border border-transparent w-64 h-fit transition ease-linear};
    .card-task {@apply bg-taskly-woodsmoke-900 p-2 rounded w-full min-h-9}
    .card-container h3{ @apply text-taskly-vermilion-600}
    .card-task h5{ @apply underline decoration-taskly-vermilion-600}

    button, input[type="submit"] {@apply inline-block text-center px-6 rounded-lg cursor-pointer w-full min-h-9 min-w-9 text-center disabled:cursor-not-allowed}
    .btn-outline {@apply border border-solid border-taskly-vermilion-600 text-taskly-vermilion-600 hover:border-taskly-vermilion-700 hover:text-taskly-vermilion-700 transition ease-linear active:border-taskly-vermilion-800 active:text-taskly-vermilion-800
    disabled:border-taskly-vermilion-900 disabled:text-taskly-vermilion-900}
    .btn-flat {@apply border bg-taskly-vermilion-500  hover:bg-taskly-vermilion-600 transition ease-linear active:bg-taskly-vermilion-700
    disabled:bg-taskly-vermilion-950 disabled:text-taskly-vermilion-700}

    .form-container {@apply flex flex-col w-full max-w-80 gap-3}
    .form-group {@apply flex flex-col w-full gap-1 }
    label{
        @apply text-sm text-taskly-vermilion-600 ;
      }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"]  {
      @apply bg-taskly-woodsmoke-700 rounded-sm p-1 text-white focus-visible:border focus-visible:border-taskly-vermilion-600  focus:border focus:border-taskly-vermilion-600  focus:bg-taskly-woodsmoke-500  disabled:bg-taskly-woodsmoke-900 disabled:text-taskly-woodsmoke-400 disabled:cursor-not-allowed   ;
    }


}