@tailwind base;
@tailwind components;
@tailwind utilities;


.title-100 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.title-200 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.title-300 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title-400 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-500 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.title-600 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.title-700 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.title-800 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text-100 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.text-200 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.text-300 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.text-400 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-500 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-600 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.text-700 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-800 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@layer base {
    body {@apply bg-[#0E0E11] text-white};
    h1 {@apply text-3xl};
    h2 {@apply text-2xl};
    h3,h4 {@apply text-xl};
    h1, h2, h3, h4 { @apply title-600};
    h5, h6, p, span {@apply text-500};
}